.container-navmenu {
  background-color: var(--main-color);
  opacity: 0;
  width: 90vw;
  height: calc(100vh - 76px);
  position: absolute;
  overflow-y: hidden;
  transition: all 0.2s linear;
  pointer-events: none;
}

.container-navmenu.show {
  opacity: 97%;
  pointer-events: all;
}

.form-navmenu {
  height: 60%;
}

.formGroup-navmenu {
  display: flex;
  flex-direction: column;
  font-size: 1.75rem;
  font-weight: 600;
  margin: 1rem 0 0 1rem;
}

.category-navmenu {
  padding-bottom: 1rem;
}
