:root {
  --main-color: white;
  --secondary-color: #252422;
}

.contentBody {
  width: 100vw;
  height: 100%;
  background-color: var(--main-color);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
