.container-productModal > .modal-dialog {
  display: flex;
  justify-content: center;
}

.container-productModal > .modal-dialog > .modal-content {
  width: 90%;
  height: 90vh;
  border-radius: 3px;
  overflow-y: scroll;
}

.header-productModal {
  padding: 0.5rem 1rem;
}

.title-productModal {
  font-weight: 700;
}

.img-productModal {
  width: 100%;
  height: 250px;
  object-fit: scale-down;
}

.description-productModal {
  margin-top: 0.5rem;
  line-height: 1.3;
}

.priceContainer-productModal {
  width: 60%;
  display: flex;
  flex-direction: row;
  margin-top: 0.5rem;
}

.price-productModal,
.salePrice-productModal,
.OrdinaryPrice-productModal,
.sale-productModal {
  color: var(--bs-danger);
  font-weight: 700;
  margin-right: 0.25rem;
}

.price-productModal {
  color: black;
}

.OrdinaryPrice-productModal {
  color: var(--bs-gray);
  text-decoration: line-through;
}

.buyContainer-productModal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quantityContainer-productModal {
  width: 90%;
  display: flex;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.quantity-productModal {
  background-color: white !important;
  border: 1px solid black;
  border-radius: 0;
  text-align: center;
  padding: 0.5rem 0;
}

.quantityBtn-productModal {
  border-radius: 0;
}

.buyBtn-productModal {
  width: 90%;
  border-radius: 1px;
  padding: 0.5rem 0;
}
