@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-main-color: white;
  --color-secondary-color: #252422;
  --color-dark-main-color: #121212;
  --color-dark-secondary-color: #e4e2e0;
  --shadow-box: 0 0 10px 5px rgba(37, 36, 34, 0.1);
}

@layer utilities {
  :root {
    --main-color: white;
    --secondary-color: #252422;
    --dark-main-color: #121212;
    --dark-secondary-color: #e4e2e0;
    --section-section: flex flex-col items-center mb-4;
  }
}

@layer components {
  .contentBody {
    @apply flex flex-col min-h-screen w-full bg-[var(--main-color)] lg:items-center;
  }

  .content {
    @apply flex flex-col flex-grow items-center w-full;
  }
}
