@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-main-color: white;
  --color-secondary-color: #252422;
  --shadow-box: 0 0 10px 5px rgba(37, 36, 34, 0.1);
}

@layer utilities {
  :root {
    --main-color: white;
    --secondary-color: #252422;
    --section-section: flex flex-col items-center mb-4;
  }
}

@layer components {
  .contentBody {
    width: 100vw;
    height: calc(100vh - 80px);
    background-color: var(--main-color);
    @apply lg:flex lg:flex-col lg:items-center lg:[padding:80px];
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
